.outer-footer-container {
    width: 100vw;
    height: 20.505vw;
    .footer-container {
        width: 76.229%;
        height: 92.416%;
        padding: 0 3.9476vw;
        margin: 20px 7.2845vw 0 7.2845vw;
    }
}
